{% load staticfiles %}
<html>
    <head>
        <title>Sam Khano's Page</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="https://www.linkedin.com/in/samule-khano-a575b89b">Sam Khano</a></h1>
        </div>
        <div class="img">
            <a target="_blank" href="https://www.djangoproject.com">
                <img src=http://4.bp.blogspot.com/-5C7LWrlago8/U33hsHWNlZI/AAAAAAAAAFI/349_8esFZYQ/s1600/django-python-transparent.png width="300" height="200">
            </a>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>