
<html>
    <head>
        <title>Sam Khano's Page</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.linkedin.com/in/samule-khano-a575b89b">Welcome</a></h1>
        </div>

        <div>
            <p>published: 01.03.2016, 02:44</p>
            <h2><a href="">My first post</a></h2>
            <p>Things are looking a little sparse around here if you haven't noticed. I am currently working on finishing up this page, check back soon!</p>
            <p>published: 01.03.2016, 02:46</p>
        </div>
    </body>
</html>